body {
	margin: 0;
	background: #ccc;
	background: -webkit-linear-gradient(#917c4d, #ffffff);
	background: linear-gradient(#917c4d, #ffffff); /* Standard syntax (must be last) */
	font-family: "American Typewriter";
}

.viewport {
	width: 320px;
	height: 400px;
	margin: 0 auto;
}

#status {
	margin: 60px auto;
	color: #917c4d;
	text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 1px #fff;
	text-align: center;
	font-size: 46px;
}

#status .greeting {
}

.cube {
	margin: 80px auto 0;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 0;
}

.cube .side {
	position: absolute;
	padding: 0px;
	background-color: rgb(50, 50, 50);
}

.cube .flipbox-container {
	/*border: 1px solid white;*/
}

.cube .flipbox-container.matched {
	/*border: 1px solid green;*/
}

.cube .flipbox-container.badMatch {
	/*border: 1px solid red;*/
}
