body {
    margin: 0;
}

.viewport {
    width: 320px;
    height: 400px;
    margin: 0 auto;
    -webkit-perspective: 1000;
    -webkit-perspective-origin: 50% 50%;
    -webkit-transform: scale(0.8,0.8);
}

.cube {
    margin: 20px auto;
    height: 100px;
    width: 100px;
    -webkit-transition: -webkit-transform 25ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0);
    -webkit-transition-duration: 500ms;
}

.cube .side {
    font-size: 80px;    
    position: absolute;
    padding: 0px;
    background-color: rgb(50, 50, 50);
    color: #fff;
    border: 1px solid #555;
}

.cube .side .flipbox {
    text-align:center;
}
